name: Google Cloud Run CICD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:  # allow manual trigger (needed for destroy stage)

env:
  IMAGE_TAG: ${{ github.sha }}
  PROJECT_ID: my-first-project-480811
  GAR_LOCATION: us-central1
  REPO_NAME: test-repo
  IMAGE_NAME: nodejs
  SERVICE_NAME: nodejs-service
  REGION: us-central1

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

  trivy_fs_scan:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: fs
          scan-ref: .
          format: table
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH

  build_docker_image_and_push_to_GCP_ArtifactRegistry:
    runs-on: ubuntu-latest
    needs: trivy_fs_scan
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}

      - name: Configure Docker to use gcloud as a credential helper
        run: gcloud auth configure-docker $GAR_LOCATION-docker.pkg.dev --quiet

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image to GAR
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
            ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest

  trivy_docker_image_scan:
    runs-on: ubuntu-latest
    needs: build_docker_image_and_push_to_GCP_ArtifactRegistry
    steps:
      - name: Run Trivy vulnerability scanner (Docker image)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: image
          image-ref: ${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
          format: table
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH

  # deploy_to_cloud_run:
  #   runs-on: ubuntu-latest
  #   needs: trivy_docker_image_scan
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Authenticate to Google Cloud
  #       uses: google-github-actions/auth@v2
  #       with:
  #         credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}

  #     - name: Set up gcloud
  #       uses: google-github-actions/setup-gcloud@v2
  #       with:
  #         project_id: ${{ env.PROJECT_ID }}

  #     - name: Enable Required GCP APIs
  #       run: |
  #         gcloud services enable run.googleapis.com \
  #           artifactregistry.googleapis.com \
  #           cloudbuild.googleapis.com \
  #           iam.googleapis.com

  #     - name: Set up Terraform
  #       uses: hashicorp/setup-terraform@v3
  #       with:
  #         terraform_version: 1.9.5

  #     - name: Terraform Init & Plan
  #       working-directory: ./terraform
  #       run: |
  #         terraform init -input=false
  #         terraform plan -input=false \
  #           -var="project_id=${{ env.PROJECT_ID }}" \
  #           -var="region=${{ env.REGION }}" \
  #           -var="service_name=${{ env.SERVICE_NAME }}" \
  #           -var="container_image=${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}"

  #     - name: Terraform Apply
  #       working-directory: ./terraform
  #       run: |
  #         terraform apply --auto-approve \
  #           -var="project_id=${{ env.PROJECT_ID }}" \
  #           -var="region=${{ env.REGION }}" \
  #           -var="service_name=${{ env.SERVICE_NAME }}" \
  #           -var="container_image=${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}"

  # destroy_resources:
  #   runs-on: ubuntu-latest
  #   needs: deploy_to_cloud_run
  #   if: github.event_name == 'workflow_dispatch' # only run manually
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Authenticate to Google Cloud
  #       uses: google-github-actions/auth@v2
  #       with:
  #         credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}

  #     - name: Set up gcloud
  #       uses: google-github-actions/setup-gcloud@v2
  #       with:
  #         project_id: ${{ env.PROJECT_ID }}

  #     - name: Set up Terraform
  #       uses: hashicorp/setup-terraform@v3
  #       with:
  #         terraform_version: 1.9.5

  #     - name: Terraform Init
  #       working-directory: ./terraform
  #       run: terraform init -input=false

  #     - name: Terraform Destroy
  #       working-directory: ./terraform
  #       run: |
  #         terraform destroy --auto-approve \
  #           -lock-timeout=300s \
  #           -var="project_id=${{ env.PROJECT_ID }}" \
  #           -var="region=${{ env.REGION }}" \
  #           -var="service_name=${{ env.SERVICE_NAME }}" \
  #           -var="container_image=${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest"
